<!DOCTYPE html>
<div class="container-fluid h-100 w-100 flex-column d-flex bg-dark text-light border-2 border-dark-subtle border-end border-top">
    <div class="row  ">
        Chat
        <!-- <div class="navbar ">
            <div class="container-fluid">
                <div>
                    Chats
                </div>
                <button>
                    Add
                </button>
            </div>
        </div>  -->
    </div>
    <div class="row flex-grow-1 mt-4">
        <div class="col">
            <div class="conversation row px-1">
                <img class="col-2 imgsize p-0 h-75" src="../../assets/Icons/person-circle.svg" alt="">
                <div class="col">
                    Username
                </div>
            </div>
            
        </div>
    </div>
      
</div>

