.gradient-custom {
    background: #5b86e5;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    background: linear-gradient(to right, #36d1dc, #5b86e5);
  }

  .anch{
    text-decoration: underline;
  }
  .anch:hover{
    cursor: pointer;
  }