<section class="vh-100 gradient-custom">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-6 ">
                <div class="card bg-dark text-white">
                    <div class="card-body text-center">
                        <h2 class="fw-bold mb-5 text-uppercase">Password Recovery</h2>
                        <form *ngIf="!passwordForm" #recoveryForm="ngForm" (ngSubmit)="sendReconveryRequest()">
                            <div class="form-floating mb-1 text-black-50">
                                <input type="username" id="username" name="username" [(ngModel)]="emailOrUsername"
                                    #username="ngModel" required class="form-control" placeholder="Email or Username">
                                <label for="username">Email or Username</label>
                            </div>
                            <div *ngIf="username.invalid && username.touched" class="text-danger fs-6">
                                Please Enter your Email or Username
                            </div>
                            <button
                                [disabled]="recoveryForm.form.invalid && (recoveryForm.form.pristine||recoveryForm.form.touched)"
                                class="btn btn-outline-light btn-lg px-5 mt-3 " type="submit">Submit</button>
                            <p class="small mt-3 mb-2 pb-lg-2  " (click)="toggleForm()">
                                <a class="anch text-white-50">
                                    Have a Code?
                                </a>
                            </p>
                        </form>
                        <form *ngIf="passwordForm" #recoveryForm="ngForm" (ngSubmit)="updatePassword()">
                            <div class="form-floating my-2 text-black-50">
                                <input type="recoveryCode" id="recoveryCode" name="recoveryCode"
                                    [(ngModel)]="recoveryCode" #code="ngModel" required class="form-control"
                                    placeholder="Recovery Code">
                                <label for="recoveryCode">Recovery Code</label>
                            </div>
                            <div *ngIf="code.invalid && code.touched" class="text-danger fs-6">
                                Please Enter Recovery Code
                            </div>
                            <div class="form-floating my-4 text-black-50">
                                <input type="recoveryCode" id="recoveryCode" name="recoveryCode"
                                    [(ngModel)]="newPassword" #password="ngModel" required class="form-control"
                                    placeholder="New Password">
                                <label for="recoveryCode">Enter New Password</label>
                            </div>
                            <div *ngIf="password.invalid && password.touched" class="text-danger fs-6">
                                Please Enter A Password
                            </div>
                            <button
                                [disabled]="recoveryForm.form.invalid && (recoveryForm.form.pristine||recoveryForm.form.touched)"
                                class="btn btn-outline-light btn-lg px-5 mt-3 " type="submit">Change Password</button>
                            <p class="small mt-3 mb-2 pb-lg-2  text-white-50 " (click)="toggleForm()">
                                <a class="anch text-white-50">
                                    Send Mail Again?
                                </a>
                            </p>
                        </form>
                        <p class="small mt-3 mb-5 pb-lg-2  text-white-50 " >
                            <a (click)="backToLogin()" class="anch text-white-50">
                                Back to Login
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>