.gradient-custom {
  background: #5b86e5;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}
.gradient-custom-2 {
  background: #426d83;
  background: -webkit-linear-gradient((to right, #02aab0, #00cdac));
  background: linear-gradient(to right, #02aab0, #00cdac);
}

.avatar{
    height: 7rem;
    width: 7rem;
    border-radius: 3.5rem;
}
.avatar-input:hover{
    cursor: pointer;
}